<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>SmartContactManager - Home</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1>Smart Contact Manager</h1>
			<p>
				Always stay attached with you loved ones anytime anywhere by 
				Smart Contact Manager by attaching their contact with us.  
			</p>
			<button class="btn bg-primary bg-lg text-white">Get Started </button>
		</div>
	</section>
</body>
</html>